@{
    ViewData["Title"] = "Panel de Administradores";
}

@using WebApp.Models.Administrador
@model PanelAdminModel

<head>
    <script src="~/js/services/busquedaService.js" type="module" defer></script>
    <script src="~/js/services/panelAdminService.js" type="module" defer></script>
    <script src="~/js/general/tables.js" defer></script>
    <link rel="stylesheet" href="~/css/layout/admin-dashboard.css">

</head>


<!-- Formulario de registro de administrador -->
<dialog class="popup" id="registrarAdminModal">
    <h2>Nuevo administrador</h2>
    <form asp-action="RegistrarAdmin" method="post" class="form">
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Nombre</label>
                <input type="text" class="regular-form-input" asp-for="Nombre" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Apellido</label>
                <input type="text" class="regular-form-input" asp-for="Apellido" autocomplete="off" required>
            </div>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>DNI</label>
                <input type="text" class="regular-form-input" asp-for="Dni" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Teléfono</label>
                <input type="tel" class="regular-form-input" asp-for="Telefono" autocomplete="off" required>
            </div>
        </div>
        <div class="input-container">
            <label>Correo electrónico</label>
            <input type="text" class="regular-form-input" asp-for="Email" autocomplete="off" required>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Usuario</label>
                <input type="text" class="regular-form-input" asp-for="Usuario" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Contraseña</label>
                <input type="password" class="regular-form-input" asp-for="Contraseña" autocomplete="off" required>
            </div>
        </div>
        <div class="input-container">
            <label>Fecha de nacimiento</label>
            <input class="regular-form-input" type="date" asp-for="FechaNacimiento" required>
        </div>
        <div class="input-container">
            <label>Sexo</label>
            <select class="regular-form-input" name="Sexo" asp-for="Sexo" required>
                <option value="" selected disabled>Seleccione una opción</option>
                <option value="0">Masculino</option>
                <option value="1">Femenino</option>
                <option value="2">Otro</option>
            </select>
        </div>
        <div class="multiple-input-container" style="margin-top: 1.25rem;">
            <button type="submit" class="regular-form-submit-btn form-action-btn">Registrar</button>
            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn">Cancelar</button>
        </div>
    </form>
</dialog>





<!-- formulario de modificacion de administrador -->
<dialog class="popup" id="modificarAdminModal">
    <h2>Modificar administrador</h2>
    <form asp-action="ModificarAdmin" method="post" class="form">

        <div class="input-container">
            <label>Identificador</label>
            <input type="text" class="regular-form-input" name="Id" asp-for="Id" id="id_mod" readonly>
        </div>

        <div class="multiple-input-container">
            <div class="input-container">
                <label>Nombre</label>
                <input type="text" class="regular-form-input" name="Nombre" asp-for="Nombre" id="nombre_mod" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Apellido</label>
                <input type="text" class="regular-form-input" name="Apellido" asp-for="Apellido" id="apellido_mod" autocomplete="off" required>
            </div>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>DNI</label>
                <input type="text" class="regular-form-input" name="Dni" asp-for="Dni" id="dni_mod" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Teléfono</label>
                <input type="tel" class="regular-form-input" name="Telefono" asp-for="Telefono" id="tel_mod" autocomplete="off" required>
            </div>
        </div>
        <div class="input-container">
            <label>Correo electrónico</label>
            <input type="text" class="regular-form-input" name="Email" asp-for="Email" id="email_mod" autocomplete="off" required>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Usuario</label>
                <input type="text" class="regular-form-input" name="Usuario" asp-for="Usuario" id="usuario_mod" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Contraseña</label>
                <input type="password" class="regular-form-input" asp-for="Contraseña" id="contraseña_mod" autocomplete="off" required>
            </div>
        </div>
        <div class="input-container">
            <label>Fecha de nacimiento</label>
            <input class="regular-form-input" type="date" asp-for="FechaNacimiento" id="nacimiento_mod" required>
        </div>
        <div class="input-container">
            <label>Sexo</label>
            <select class="regular-form-input" name="Sexo" asp-for="Sexo" id="sexo_mod" required>
                <option value="" selected disabled>Seleccione una opción</option>
                <option value="0">Masculino</option>
                <option value="1">Femenino</option>
                <option value="2">Otro</option>
            </select>
        </div>

        <div class="multiple-input-container" style="margin-top: 1.25rem;">
            <button type="submit" class="regular-form-submit-btn form-action-btn">Modificar</button>
            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn">Cancelar</button>
        </div>
    </form>
</dialog>




<!-- formulario de eliminacion de administrador -->
<dialog class="popup" id="eliminarAdminModal">
    <h2>Eliminar administrador</h2>
    <form asp-action="EliminarAdmin" method="post" class="form">
        <div class="input-container">
            <label>Identificador</label>
            <input type="text" class="regular-form-input" name="Id" asp-for="Id" id="id_del" readonly>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Nombre</label>
                <input type="text" class="regular-form-input" name="Nombre" disabled>
            </div>
            <div class="input-container">
                <label>Apellido</label>
                <input type="text" class="regular-form-input" name="Apellido" disabled>
            </div>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>DNI</label>
                <input type="text" class="regular-form-input" name="Dni" disabled>
            </div>
            <div class="input-container">
                <label>Teléfono</label>
                <input type="tel" class="regular-form-input" name="Telefono" disabled>
            </div>
        </div>
        <div class="input-container">
            <label>Correo electrónico</label>
            <input type="text" class="regular-form-input" name="Email" disabled>
        </div>
        <div class="input-container">
            <label>Usuario</label>
            <input type="text" class="regular-form-input" name="Usuario" disabled>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Fecha de nacimiento</label>
                <input type="text" class="regular-form-input" name="FechaNacimiento" disabled>
            </div>
            <div class="input-container">
                <label>Sexo</label>
                <input type="text" class="regular-form-input" name="Sexo" disabled>
            </div>
        </div>

        <div class="multiple-input-container" style="margin-top: 1.25rem;">
            <button type="submit" class="regular-form-submit-btn form-action-btn">Eliminar</button>
            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn">Cancelar</button>
        </div>
    </form>
</dialog>



<!-- formulario de detalle de admin -->
<dialog class="popup" id="detalleAdminModal">
    <h2>Detalles del administrador</h2>
    <form class="form">
        <div class="input-container">
            <label>Identificador</label>
            <input type="text" class="regular-form-input" name="Id" disabled>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Nombre</label>
                <input type="text" class="regular-form-input" name="Nombre" disabled>
            </div>
            <div class="input-container">
                <label>Apellido</label>
                <input type="text" class="regular-form-input" name="Apellido" disabled>
            </div>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>DNI</label>
                <input type="text" class="regular-form-input" name="Dni" disabled>
            </div>
            <div class="input-container">
                <label>Teléfono</label>
                <input type="tel" class="regular-form-input" name="Telefono" disabled>
            </div>
        </div>
        <div class="input-container">
            <label>Correo electrónico</label>
            <input type="text" class="regular-form-input" name="Email" disabled>
        </div>
        <div class="input-container">
            <label>Usuario</label>
            <input type="text" class="regular-form-input" name="Usuario" disabled>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Fecha de nacimiento</label>
                <input type="text" class="regular-form-input" name="FechaNacimiento" disabled>
            </div>
            <div class="input-container">
                <label>Sexo</label>
                <input class="regular-form-input" name="Sexo" disabled>
            </div>
        </div>

        <div class="input-container">
            <button type="button" class="regular-form-submit-btn form-action-btn">Cerrar</button>
        </div>
    </form>
</dialog>



<!-- barra de navegacion superior -->
<header class="header">
    <a asp-controller="Administrador" asp-action="PanelInicio" class="logo">
        <img src="/images/logo.png" alt="Logo">
    </a>

    <nav class="nav">
        <ul>
            <li class="profile-btn-container">
                <a asp-controller="Administrador" asp-action="PanelPerfil">
                    <button class="profile-btn">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </a>
            </li>
            <li class="admin-logout-btn-2-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn-2">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </a>
            </li>
            <li class="admin-logout-btn-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn">
                        <span>Cerrar sesión</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>
</header>

<main class="main">

    <!-- menu inferior, aparece en pantallas chicas -->
    <div class="bottom-menu-container">
        <nav class="bottom-menu">
            <ul>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelInicio">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-house"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelClientes">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-dumbbell"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelMembresias">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-star"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelPagos">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-cash-register"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelAdministradores">
                        <button class="bottom-menu-btn active">
                            <i class="fa-solid fa-unlock-keyhole"></i>
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- menu de la izquierda, aparece en pantallas grandes -->
    <nav class="sidebar">
        <ul>
            <li>
                <a asp-controller="Administrador" asp-action="PanelInicio">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-house"></i>
                        <span>Inicio</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelClientes">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span>Clientes</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelMembresias">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-star"></i>
                        <span>Membresías</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelPagos">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-cash-register"></i>
                        <span>Pagos</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelAdministradores">
                    <button class="sidebar-btn active">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                        <span>Administradores</span>
                    </button>
                </a>
            </li>

        </ul>
        <ul>
            <li>
                <a asp-controller="Administrador" asp-action="PanelAyuda">
                    <button class="sidebar-btn">
                        <i class="fa-regular fa-circle-question"></i>
                        <span>Ayuda</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelPerfil">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-user"></i>
                        <span>Mi perfil</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>


    <!-- App -->
    <div class="app dashboard">
        <h1>
            Listado de administradores
        </h1>

        <div class="action-btns">
            <div class="search-box">
                <form action="#" class="search-form">
                    <input type="text" placeholder="Buscar registro..." autocomplete="off">
                    <select>
                        <option>Usuario</option>
                        <option>DNI</option>
                        <option>Nombre</option>
                    </select>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div>
                <button class="admin-action-btn" id="registrarAdminBtn">
                    <i class="fa-solid fa-circle-plus"></i>
                    <span>Nuevo registro</span>
                </button>
            </div>
        </div>

        <!-- Lista de administradores -->

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Sexo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaAdministradores)
                    {
                        <tr>
                            <td data-label="Usuario">
                                @item.Usuario
                            </td>
                            <td data-label="DNI">
                                @item.Dni
                            </td>
                            <td data-label="Nombre">
                                @item.Nombre @item.Apellido
                            </td>

                            <td data-label="Email">
                                @item.Email
                            </td>
                            <td data-label="Teléfono">
                                @item.Telefono
                            </td>
                            <td data-label="Sexo">
                                @item.Sexo
                            </td>
                            <td data-label="Acciones" class="table-action-btn-container">
                                <button class="table-action-btn">
                                    <i class="fa-solid fa-ellipsis"></i>
                                    <div class="action-dropdown-menu">
                                        <a href="javascript:void(0);" onclick="mostrarDetalleAdminModal('@item.Id')">Detalle</a>
                                        <a href="javascript:void(0);" onclick="mostrarEliminarAdminModal('@item.Id')">Eliminar</a>
                                        <a href="javascript:void(0);" onclick="mostrarModificarAdminModal('@item.Id')">Editar</a>
                                    </div>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>