@{
    ViewData["Title"] = "Panel de Clientes";
}

@using WebApp.Models.Cliente
@model PanelClientesModel


<head>
    <script src="~/js/services/busquedaService.js" type="module" defer></script>

    <script src="~/js/general/tables.js" defer></script>

    <link rel="stylesheet" href="~/css/layout/admin-dashboard.css">

    <script src="~/js/services/panelClienteService.js" type="module" defer></script>
</head>



<!-- Formulario de registro de cliente-->
<dialog class="popup" id="registrarClienteModal">
    <h2>Nuevo cliente</h2>
    <form asp-action="RegistrarCliente" method="post" class="form">
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Nombre</label>
                <input type="text" class="regular-form-input" asp-for="Nombre" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Apellido</label>
                <input type="text" class="regular-form-input" asp-for="Apellido" autocomplete="off" required>
            </div>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>DNI</label>
                <input type="text" class="regular-form-input" asp-for="Dni" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Teléfono</label>
                <input type="tel" class="regular-form-input" asp-for="Telefono" autocomplete="off" required>
            </div>
        </div>
        <div class="input-container">
            <label>Correo electrónico</label>
            <input type="text" class="regular-form-input" asp-for="Email" autocomplete="off" required>
        </div>
        <div class="input-container">
            <label>Fecha de nacimiento</label>
            <input class="regular-form-input" type="date" asp-for="FechaNacimiento" required>
        </div>
        <div class="input-container">
            <label>Sexo</label>
            <select class="regular-form-input" asp-for="Sexo" required>
                <option value="" selected disabled>Seleccione una opción</option>
                <option value="0">Masculino</option>
                <option value="1">Femenino</option>
                <option value="2">Otro</option>
            </select>
        </div>
        <div class="multiple-input-container" style="margin-top: 1.25rem;">
            <button type="submit" class="regular-form-submit-btn form-action-btn">Registrar</button>
            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn">Cancelar</button>
        </div>
    </form>
</dialog>





<!-- formulario de modificacion de cliente -->
<dialog class="popup" id="modificarClienteModal">
    <h2>Modificar cliente</h2>
    <form asp-action="ModificarCliente" method="post" class="form">

        <div class="input-container">
            <label>Identificador</label>
            <input type="text" class="regular-form-input" id="id_mod" name="Id" asp-for="Id" readonly>
        </div>

        <div class="multiple-input-container">
            <div class="input-container">
                <label>Nombre</label>
                <input type="text" class="regular-form-input" id="nombre_mod" name="Nombre" asp-for="Nombre" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Apellido</label>
                <input type="text" class="regular-form-input" id="apellido_mod" name="Apellido" asp-for="Apellido" autocomplete="off" required>
            </div>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>DNI</label>
                <input type="text" class="regular-form-input" id="dni_mod" name="Dni" asp-for="Dni" autocomplete="off" required>
            </div>
            <div class="input-container">
                <label>Teléfono</label>
                <input type="tel" class="regular-form-input" id="tel_mod" name="Telefono" asp-for="Telefono" autocomplete="off" required>
            </div>
        </div>
        <div class="input-container">
            <label>Correo electrónico</label>
            <input type="text" class="regular-form-input" id="email_mod" name="Email" asp-for="Email" autocomplete="off" required>
        </div>
        <div class="input-container">
            <label>Fecha de nacimiento</label>
            <input class="regular-form-input" type="date" id="nac_mod" asp-for="FechaNacimiento" required>
        </div>
        <div class="input-container">
            <label>Sexo</label>
            <select class="regular-form-input" id="sexo_mod" name="Sexo" asp-for="Sexo" required>
                <option value="" selected disabled>Seleccione una opción</option>
                <option value="0">Masculino</option>
                <option value="1">Femenino</option>
                <option value="2">Otro</option>
            </select>
        </div>

        <div class="multiple-input-container" style="margin-top: 1.25rem;">
            <button type="submit" class="regular-form-submit-btn form-action-btn">Guardar cambios</button>
            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn">Cancelar</button>
        </div>
    </form>
</dialog>






<!-- formulario de eliminacion de cliente -->
<dialog class="popup" id="eliminarClienteModal">
    <h2>Eliminar cliente</h2>
    <form asp-action="EliminarCliente" method="post" class="form">
        <div class="input-container">
            <label>Identificador</label>
            <input type="text" class="regular-form-input" id="id_del" name="Id" asp-for="Id" readonly>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Nombre</label>
                <input type="text" class="regular-form-input" name="Nombre" disabled>
            </div>
            <div class="input-container">
                <label>Apellido</label>
                <input type="text" class="regular-form-input" name="Apellido" disabled>
            </div>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>DNI</label>
                <input type="text" class="regular-form-input" name="Dni" disabled>
            </div>
            <div class="input-container">
                <label>Teléfono</label>
                <input type="tel" class="regular-form-input" name="Telefono" disabled>
            </div>
        </div>
        <div class="input-container">
            <label>Correo electrónico</label>
            <input type="text" class="regular-form-input" name="Email" disabled>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Fecha de nacimiento</label>
                <input type="text" class="regular-form-input" name="FechaNacimiento" disabled>
            </div>
            <div class="input-container">
                <label>Sexo</label>
                <input type="text" class="regular-form-input" name="Sexo" disabled>
            </div>
        </div>
        <div class="multiple-input-container" style="margin-top: 1.25rem;">
            <button type="submit" class="regular-form-submit-btn form-action-btn">Confirmar</button>
            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn">Cancelar</button>
        </div>
    </form>
</dialog>







<!-- formulario de detalle de cliente -->
<dialog class="popup" id="detalleClienteModal">
    
    <!-- Detalle membresía -->

    <dialog class="popup" id="infoMembresiaModal">

        <div class="form">
            <div class="input-container">
                <label>Identificador</label>
                <input type="text" class="regular-form-input" name="IdDetalleMembresia" disabled>
            </div>

            <div class="input-container">
                <label>Descripción</label>
                <input type="text" class="regular-form-input" name="Tipo" disabled>
            </div>

            <div class="multiple-input-container">
                <div class="input-container">
                    <label>Duración (Días)</label>
                    <input type="number" class="regular-form-input" name="DuracionDias" disabled>
                </div>
                <div class="input-container">
                    <label>Duración (Meses)</label>
                    <input type="number" class="regular-form-input" name="DuracionMeses" disabled>
                </div>

            </div>
            <div class="input-container">
                <label>Precio (ARS)</label>
                <input type="number" class="regular-form-input" name="Precio" disabled>
            </div>
            <div class="input-container">
                <button type="button" class="regular-form-submit-btn form-action-btn" id="cerrarDetalleMembresiaBtn">Cerrar</button>
            </div>

        </div>

    </dialog>




    <!-- formulario de registro de pago -->
    <dialog class="popup" id="registrarPagoModal">
        <h2>Pago de membresía</h2>
        <form asp-action="RegistrarPago" method="post" class="form">
            <div class="multiple-input-container">
                <div class="input-container">
                    <label>DNI del Cliente</label>
                    <input type="text" class="regular-form-input" name="DniCliente" asp-for="Dni" readonly>
                </div>

                <div class="input-container">
                    <label>Membresía</label>
                    <select class="regular-form-input" id="membresiaSelect" name="IdMembresia" asp-for="IdMembresia">
                    </select>
                </div>

            </div>

            <div class="input-container">
                <label>Vencimiento actual</label>
                <input type="text" class="regular-form-input" name="vencimientoActual" readonly>
            </div>
            <div class="input-container">
                <label>Vencimiento actualizado</label>
                <input type="text" class="regular-form-input" name="vencimientoNuevo" readonly>
            </div>
            <div class="input-container">
                <label>Monto a pagar (ARS)</label>
                <input type="text" class="regular-form-input" name="precioMembresia" disabled>
            </div>

            <div class="multiple-input-container" style="margin-top: 1.25rem;">
                <button type="submit" class="regular-form-submit-btn form-action-btn">Renovar</button>
                <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn">Cancelar</button>
            </div>
        </form>
    </dialog>



    <!-- pagos del cliente -->
    <dialog class="popup popup--table" id="pagosClienteModal">
        <h2>Pagos del cliente</h2>
        <form class="form">
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id de Pago</th>
                            <th>Id de Membresía</th>
                            <th>Fecha de pago</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody id="pagosClienteTableBody">
                    </tbody>
                </table>
            </div>
            <div class="input-container">
                <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn" id="cerrarPagosClienteModal">Cerrar</button>
            </div>
        </form>
    </dialog>





    <!-- detalles cliente-->
    <h2>Detalles del cliente</h2>
    <form class="form">


        <div class="multiple-input-container">
            <div class="input-container">
                <label>Identificador</label>
                <input type="text" class="regular-form-input" name="IdCliente" readonly>
            </div>
            <div class="input-container">
                <label>Identificador de Membresía</label>
                <div class="input-search-container">
                    <input type="text" class="regular-form-input" name="IdMembresia" readonly>
                    <button type="button" id="mostrarDetalleMembresiaBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>


        <div class="multiple-input-container">
            <div class="input-container">
                <label>Nombre</label>
                <input type="text" class="regular-form-input" name="Nombre" disabled>
            </div>
            <div class="input-container">
                <label>Apellido</label>
                <input type="text" class="regular-form-input" name="Apellido" disabled>
            </div>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>DNI</label>
                <input type="text" class="regular-form-input" name="Dni" disabled>
            </div>
            <div class="input-container">
                <label>Teléfono</label>
                <input type="tel" class="regular-form-input" name="Telefono" disabled>
            </div>
        </div>
        <div class="input-container">
            <label>Correo electrónico</label>
            <input type="text" class="regular-form-input" name="Email" disabled>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Fecha de nacimiento</label>
                <input type="text" class="regular-form-input" name="FechaNacimiento" disabled>
            </div>
            <div class="input-container">
                <label>Sexo</label>
                <input type="text" class="regular-form-input" name="Sexo" disabled>
            </div>
        </div>
        <div class="input-container fecha-vencimiento-cliente-container">
            <label>Vencimiento de la membresía</label>
            <input type="text" class="regular-form-input fecha-vencimiento-cliente" name="FechaVencimiento" disabled>
        </div>
        <div class="multiple-input-container">



            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn" id="mostrarRegistrarPagoBtn">Renovar membresía</button>

            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn" id="mostrarPagosClienteBtn">Ver pagos</button>


        </div>

        <div class="input-container">
            <button type="button" class="regular-form-submit-btn form-action-btn" id="cerrarDetalleClienteBtn">Cerrar</button>
        </div>
    </form>
</dialog>





<!-- barra de navegacion superior -->
<header class="header">
    <a asp-controller="Administrador" asp-action="PanelInicio" class="logo">
        <img src="/images/logo.png" alt="Logo">
    </a>

    <nav class="nav">
        <ul>
            <li class="profile-btn-container">
                <a asp-controller="Administrador" asp-action="PanelPerfil">
                    <button class="profile-btn">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </a>
            </li>
            <li class="admin-logout-btn-2-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn-2">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </a>
            </li>
            <li class="admin-logout-btn-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn">
                        <span>Cerrar sesión</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>
</header>

<main class="main">

    <!-- menu inferior, aparece en pantallas chicas -->
    <div class="bottom-menu-container">
        <nav class="bottom-menu">
            <ul>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelInicio">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-house"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelClientes">
                        <button class="bottom-menu-btn active">
                            <i class="fa-solid fa-dumbbell"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelMembresias">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-star"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelPagos">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-cash-register"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelAdministradores">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-unlock-keyhole"></i>
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- menu de la izquierda, aparece en pantallas grandes -->
    <nav class="sidebar">
        <ul>
            <li>
                <a asp-controller="Administrador" asp-action="PanelInicio">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-house"></i>
                        <span>Inicio</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelClientes">
                    <button class="sidebar-btn active">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span>Clientes</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelMembresias">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-star"></i>
                        <span>Membresías</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelPagos">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-cash-register"></i>
                        <span>Pagos</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelAdministradores">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                        <span>Administradores</span>
                    </button>
                </a>
            </li>

        </ul>
        <ul>
            <li>
                <a asp-controller="Administrador" asp-action="PanelAyuda">
                    <button class="sidebar-btn">
                        <i class="fa-regular fa-circle-question"></i>
                        <span>Ayuda</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelPerfil">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-user"></i>
                        <span>Mi perfil</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>

    <!-- App -->
    <div class="app dashboard">
        <h1>
            Listado de clientes
        </h1>

        <div class="action-btns">
            <div class="search-box">
                <form action="#" class="search-form" autocomplete="off">
                    <input type="text" placeholder="Buscar registro...">
                    <select>
                        <option>DNI</option>
                        <option>Nombre</option>
                    </select>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div>
                <button class="admin-action-btn" id="registrarClienteBtn">
                    <i class="fa-solid fa-circle-plus"></i>
                    <span>Nuevo registro</span>
                </button>
            </div>
        </div>

        <!-- Lista de administradores -->
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Nombre completo</th>
                        <th>Teléfono</th>
                        <th>Sexo</th>
                        <th>Id de membresía</th>
                        <th>Vencimiento de membresía</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListaClientes != null && Model.ListaClientes.Any())
                    {
                        @foreach (var item in Model.ListaClientes)
                        {
                            <tr>
                                <td data-label="DNI">
                                    @Html.DisplayFor(modelItem => item.Dni)
                                </td>
                                <td data-label="Nombre">
                                    @($"{item.Nombre} {item.Apellido}")
                                </td>
                                <td data-label="Teléfono">
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td data-label="Sexo">
                                    @Html.DisplayFor(modelItem => item.Sexo)
                                </td>
                                <td data-label="Id de membresía">
                                    @(item.IdMembresia == null ? "Sin membresía" : item.IdMembresia.ToString())
                                </td>
                                <td data-label="Vencimiento de membresía">
                                    @(item.FechaVencimientoMembresia == null ? "Sin membresía" : item.FechaVencimientoMembresia.Value.ToString("dd/MM/yyyy HH:mm"))
                                </td>
                                <td data-label="Acciones" class="table-action-btn-container">
                                    <button class="table-action-btn">
                                        <i class="fa-solid fa-ellipsis"></i>
                                        <div class="action-dropdown-menu">
                                            <a href="javascript:void(0);" onclick="mostrarDetalleClienteModal('@item.Id')">Detalle</a>
                                            <a href="javascript:void(0);" onclick="mostrarEliminarClienteModal('@item.Id')">Eliminar</a>
                                            <a href="javascript:void(0);" onclick="mostrarModificarClienteModal('@item.Id')">Editar</a>
                                        </div>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" style="text-align: center;">
                                No hay clientes disponibles.
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</main>

