@{
    ViewData["Title"] = "Panel de Pagos";
}

@using WebApp.Models.Pago
@model PanelPagosModel

<head>
    <script src="~/js/general/tables.js" defer></script>

    <script src="~/js/services/busquedaService.js" type="module" defer></script>
    <script src="~/js/services/panelPagoService.js" type="module" defer></script>

    <link rel="stylesheet" href="~/css/layout/admin-dashboard.css">
</head>




<!-- formulario de registro de pago -->
<dialog class="popup" id="registrarPagoModal">
    <h2>Pago de membresía</h2>
    <form asp-action="RegistrarPago" method="post" class="form">
        <div class="multiple-input-container">
            <div class="input-container">
                <label>DNI del Cliente</label>
                <div class="input-search-container">
                    <input type="search" class="regular-form-input" id="dniClienteInput" name="DniCliente" autocomplete="off" asp-for="DniCliente" required>
                    <button type="button" id="buscarClienteBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <div class="input-container">
                <label>Membresía</label>
                <select class="regular-form-input" id="membresiaSelect" name="IdMembresia" asp-for="IdMembresia" required>

                </select>
            </div>
        </div>
        <div class="selection-data">
            <div class="cliente-data-container">
                <label>Datos del cliente:</label>
                <div class="cliente-data">
                    <label>Nombre:</label>
                    <span name="nombreCliente">...</span>
                </div>
                <div class="cliente-data">
                    <label>Id. Membresía actual:</label>
                    <span name="membresiaCliente">...</span>
                </div>
                <div class="cliente-data">
                    <label>Vencimiento actual:</label>
                    <span name="vencimientoCliente">...</span>
                </div>
            </div>


            <div class="membresia-data-container">
                <label>Membresía seleccionada:</label>
                <div class="membresia-data">
                    <label>Id:</label>
                    <span name="idMembresia">...</span>
                </div>
                <div class="membresia-data">
                    <label>Duración (Días):</label>
                    <span name="duracionMembresia">...</span>
                </div>
                <div class="membresia-data">
                    <label>Duración (Meses):</label>
                    <span name="duracionMesesMembresia">...</span>
                </div>
            </div>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <div>
                    <label class="vencimiento-warning-container">
                        <span>Vencimiento actualizado</span>
                        <i class="fa-solid fa-circle-exclamation vencimiento-warning-ico"></i>
                        <div class="vencimiento-warning oculto">Buscar cliente por DNI para obtener la fecha de vencimiento de su membresía con el pago aplicado.</div>
                    </label>
                </div>
                <input type="text" class="regular-form-input" name="vencimientoNuevo" disabled>
            </div>
            <div class="input-container">
                <label>Monto a pagar (ARS)</label>
                <input type="text" class="regular-form-input" name="precioMembresia" disabled>
            </div>

        </div>


        <div class="multiple-input-container" style="margin-top: 1.25rem;">
            <button type="submit" class="regular-form-submit-btn form-action-btn">Registrar</button>
            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn">Cancelar</button>
        </div>
    </form>
</dialog>


<!-- formulario de eliminar pago -->
<dialog class="popup" id="eliminarPagoModal">
    <h2>Eliminar pago</h2>
    <form asp-action="EliminarPago" method="post" class="form">
        <div class="input-container">
            <label>Identificador de pago</label>
            <input type="text" class="regular-form-input" name="Id" asp-for="Id" readonly>
        </div>
        <div class="multiple-input-container">
            <div class="input-container">
                <label>Identificador de cliente</label>
                <input type="number" class="regular-form-input" name="IdCliente" disabled>
            </div>

            <div class="input-container">
                <label>Identificador de membresía</label>
                <input type="number" class="regular-form-input" name="IdMembresia" disabled>
            </div>
        </div>

        <div class="selection-data">
            <div class="cliente-data-container">
                <label>Datos del cliente:</label>
                <div class="cliente-data">
                    <label>Nombre:</label>
                    <span name="nombreCliente">...</span>
                </div>
                <div class="cliente-data">
                    <label>DNI:</label>
                    <span name="dniCliente">...</span>
                </div>
                <div class="cliente-data">
                    <label>Vencimiento actual:</label>
                    <span name="vencimientoActual">...</span>
                </div>
            </div>

            <div class="membresia-data-container">
                <label>Datos de la membresía:</label>
                <div class="membresia-data">
                    <label>Tipo:</label>
                    <span name="tipoMembresia">...</span>
                </div>
                <div class="membresia-data">
                    <label>Duración (Días):</label>
                    <span name="duracionDiasMembresia">...</span>
                </div>
                <div class="membresia-data">
                    <label>Duración (Meses):</label>
                    <span name="duracionMesesMembresia">...</span>
                </div>
            </div>
        </div>

        <div class="eliminar-pago-advice">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span>Tener en cuenta que la eliminación de un pago revierte la renovación de membresía efectuada por dicho pago.</span>
        </div>
        <div class="input-container">
            <label style="color: var(--dark-red-color);">Vencimiento de membresía revertido</label>
            <input type="text" class="regular-form-input" name="vencimientoNuevoCliente" style="background-color: #FFEFEF; color: var(--dark-red-color); box-shadow: 0 0 0 1.6px var(--dark-red-color);" disabled>
        </div>

        <div class="multiple-input-container">
            <div class="input-container">
                <label>Fecha de pago</label>
                <input type="text" class="regular-form-input" name="FechaPago" disabled>
            </div>

            <div class="input-container">
                <label>Monto pagado (ARS)</label>
                <input type="text" class="regular-form-input" name="Monto" disabled>
            </div>
        </div>

        <div class="multiple-input-container" style="margin-top: 1.25rem;">
            <button type="submit" class="regular-form-submit-btn form-action-btn">Confirmar</button>
            <button type="button" class="cancel-btn regular-form-cancel-btn form-action-btn">Cancelar</button>
        </div>
    </form>
</dialog>



<!-- formulario de detalle de pago -->
<dialog class="popup" id="detallePagoModal">
    <h2>Detalles del pago</h2>
    <form class="form">


        <dialog class="popup" id="infoClienteModal">

            <div class="form">
                <div class="input-container">
                    <label>Identificador</label>
                    <input type="text" class="regular-form-input" name="IdDetalleCliente" disabled>
                </div>

                <div class="multiple-input-container">
                    <div class="input-container">
                        <label>Nombre</label>
                        <input type="text" class="regular-form-input" name="Nombre" disabled>
                    </div>
                    <div class="input-container">
                        <label>Apellido</label>
                        <input type="text" class="regular-form-input" name="Apellido" disabled>
                    </div>
                </div>
                <div class="multiple-input-container">
                    <div class="input-container">
                        <label>DNI</label>
                        <input type="text" class="regular-form-input" name="Dni" disabled>
                    </div>
                    <div class="input-container">
                        <label>Teléfono</label>
                        <input type="tel" class="regular-form-input" name="Telefono" disabled>
                    </div>
                </div>
                <div class="input-container">
                    <label>Correo electrónico</label>
                    <input type="text" class="regular-form-input" name="Email" disabled>
                </div>
                <div class="multiple-input-container">
                    <div class="input-container">
                        <label>Fecha de nacimiento</label>
                        <input type="text" class="regular-form-input" name="FechaNacimiento" disabled>
                    </div>
                    <div class="input-container">
                        <label>Sexo</label>
                        <input type="text" class="regular-form-input" name="Sexo" disabled>
                    </div>
                </div>

                <div class="input-container">
                    <button type="button" class="regular-form-submit-btn form-action-btn" id="cerrarDetalleClienteBtn">Cerrar</button>
                </div>

            </div>

        </dialog>

        <dialog class="popup" id="infoMembresiaModal">

            <div class="form">
                <div class="input-container">
                    <label>Identificador</label>
                    <input type="text" class="regular-form-input" name="IdDetalleMembresia" disabled>
                </div>

                <div class="input-container">
                    <label>Descripción</label>
                    <input type="text" class="regular-form-input" name="Tipo" disabled>
                </div>

                <div class="multiple-input-container">
                    <div class="input-container">
                        <label>Duración (Días)</label>
                        <input type="number" class="regular-form-input" name="DuracionDias" disabled>
                    </div>
                    <div class="input-container">
                        <label>Duración (Meses)</label>
                        <input type="number" class="regular-form-input" name="DuracionMeses" disabled>
                    </div>

                </div>
                <div class="input-container">
                    <label>Precio (ARS)</label>
                    <input type="number" class="regular-form-input" name="Precio" disabled>
                </div>
                <div class="input-container">
                    <button type="button" class="regular-form-submit-btn form-action-btn" id="cerrarDetalleMembresiaBtn">Cerrar</button>
                </div>
                
            </div>

        </dialog>



        <div class="input-container">
            <label>Identificador</label>
            <input type="text" class="regular-form-input" name="Id" disabled>
        </div>

        <div class="multiple-input-container">
            <div class="input-container">
                <label>Fecha de pago</label>
                <input type="text" class="regular-form-input" name="FechaPago" disabled>
            </div>

            <div class="input-container">
                <label>Hora del pago</label>
                <input type="text" class="regular-form-input" name="HoraPago" disabled>
            </div>
        </div>

        <div class="multiple-input-container">
            <div class="input-container">
                <label>Identificador de cliente</label>
                <div class="input-search-container">
                    <input type="text" class="regular-form-input" name="IdCliente" disabled>
                    <button type="button" id="mostrarDetalleClienteBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>

            <div class="input-container">
                <label>Identificador de Membresia</label>
                <div class="input-search-container">
                    <input type="text" class="regular-form-input" name="IdMembresia" disabled>
                    <button type="button" id="mostrarDetalleMembresiaBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                
            </div>
        </div>

        <div class="input-container">
            <label>Monto pagado (ARS)</label>
            <input type="text" class="regular-form-input" name="Monto" disabled>
        </div>

        <div class="input-container">
            <button type="button" class="regular-form-submit-btn form-action-btn" id="cerrarDetallePagoBtn">Cerrar</button>
        </div>
    </form>
</dialog>





<!-- barra de navegacion superior -->
<header class="header">
    <a asp-controller="Administrador" asp-action="PanelInicio" class="logo">
        <img src="/images/logo.png" alt="Logo">
    </a>

    <nav class="nav">
        <ul>
            <li class="help-btn-container">
                <a asp-controller="Administrador" asp-action="PanelAyuda">
                    <button class="help-btn">
                        <i class="fa-solid fa-headset"></i>
                    </button>
                </a>
            </li>

            <li class="profile-btn-container">
                <a asp-controller="Administrador" asp-action="PanelPerfil">
                    <button class="profile-btn">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </a>
            </li>
            <li class="admin-logout-btn-2-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn-2">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </a>
            </li>
            <li class="admin-logout-btn-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn">
                        <span>Cerrar sesión</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>
</header>



<main class="main">

    <!-- menu inferior, aparece en pantallas chicas -->
    <div class="bottom-menu-container">
        <nav class="bottom-menu">
            <ul>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelInicio">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-house"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelClientes">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-dumbbell"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelMembresias">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-star"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelPagos">
                        <button class="bottom-menu-btn active">
                            <i class="fa-solid fa-cash-register"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelAdministradores">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-unlock-keyhole"></i>
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <!-- menu de la izquierda, aparece en pantallas grandes -->
    <nav class="sidebar">
        <ul>
            <li>
                <a asp-controller="Administrador" asp-action="PanelInicio">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-house"></i>
                        <span>Inicio</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelClientes">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span>Clientes</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelMembresias">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-star"></i>
                        <span>Membresías</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelPagos">
                    <button class="sidebar-btn active">
                        <i class="fa-solid fa-cash-register"></i>
                        <span>Pagos</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelAdministradores">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                        <span>Administradores</span>
                    </button>
                </a>
            </li>

        </ul>
        <ul>
            <li>
                <a asp-controller="Administrador" asp-action="PanelAyuda">
                    <button class="sidebar-btn">
                        <i class="fa-regular fa-circle-question"></i>
                        <span>Ayuda</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelPerfil">
                    <button class="sidebar-btn ">
                        <i class="fa-solid fa-user"></i>
                        <span>Mi perfil</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>


    <!-- App -->
    <div class="app dashboard">
        <h1>
            Listado de pagos
        </h1>

        <div class="action-btns">
            <div class="search-box">
                <form action="/Administrador/FiltrarPagos" method="post" class="search-form" autocomplete="off">
                    <input type="text" id="busqueda" name="busqueda" placeholder="Buscar registro..." required>
                    <select id="tipoBusqueda" name="tipoBusqueda"  required>
                        <option value="IDCliente">ID de Cliente</option>
                        <option value="IDMembresia">ID de Membresía</option>
                        <option value="FechaPago">Fecha de pago</option>
                        <option value="Monto">Monto</option>
                    </select>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <a asp-controller="Administrador" asp-action="PanelPagos" class="reload-btn"><i class="fa-solid fa-rotate-right"></i></a>
                </form>
            </div>
            <div>
                <button class="admin-action-btn" id="registrarPagoBtn">
                    <i class="fa-solid fa-circle-plus"></i>
                    <span>Nuevo registro</span>
                </button>
            </div>
        </div>

        <!-- Lista de pagos -->

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Id de Cliente</th>
                        <th>Id de Membresía</th>
                        <th>Fecha de pago</th>
                        <th>Monto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    @if (Model.ListaPagos != null && Model.ListaPagos.Any())
                    {

                        @foreach (var item in Model.ListaPagos)
                        {
                            <tr>
                                <td data-label="Identificador">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td data-label="Id de Cliente">
                                    @Html.DisplayFor(modelItem => item.IdCliente)
                                </td>
                                <td data-label="Id de Membresía">
                                    @Html.DisplayFor(modelItem => item.IdMembresia)
                                </td>
                                <td data-label="Fecha de pago">
                                    @item.FechaPago?.ToString("dd/MM/yyyy")
                                </td>
                                <td data-label="Monto">
                                    @($"{item.Monto:N2} ARS")
                                </td>
                                <td data-label="Acciones" class="table-action-btn-container">
                                    <button class="table-action-btn">
                                        <i class="fa-solid fa-ellipsis"></i>
                                        <div class="action-dropdown-menu">
                                            <a href="javascript:void(0);" onclick="mostrarDetallePagoModal('@item.Id')">Detalle</a>
                                            <a href="javascript:void(0);" onclick="mostrarEliminarPagoModal('@item.Id')">Eliminar</a>
                                        </div>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">
                                No se encontraron pagos registrados.
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</main>
